In [1]:
print("Hello")

Hello

In [2]:
print("j")

j

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("sales_data.csv")

In [6]:
df

,order_id,order_date,customer_id,product,category,quantity,price,city,payment_method
0,1001,2025-01-01,501,Wireless Mouse,Electronics,2,15,Lahore,Credit Card
1,1002,2025-01-02,502,Notebook,Stationery,5,2,Karachi,Cash
2,1003,2025-01-02,503,USB Cable,Electronics,1,5,Islamabad,Debit Card
3,1004,2025-01-03,504,Coffee Mug,Home,3,6,Lahore,Credit Card
4,1005,2025-01-03,505,Laptop Stand,Electronics,1,25,Karachi,Credit Card
5,1006,2025-01-04,506,Pen,Stationery,10,1,Islamabad,Cash
6,1007,2025-01-04,507,Notebook,Stationery,2,2,Lahore,Debit Card
7,1008,2025-01-05,508,Headphones,Electronics,1,30,Karachi,Credit Card
8,1009,2025-01-05,509,Coffee Mug,Home,1,6,Islamabad,Cash
9,1010,2025-01-06,510,Wireless Mouse,Electronics,1,15,Lahore,Credit Card

In [7]:
df.head()

,order_id,order_date,customer_id,product,category,quantity,price,city,payment_method
0,1001,2025-01-01,501,Wireless Mouse,Electronics,2,15,Lahore,Credit Card
1,1002,2025-01-02,502,Notebook,Stationery,5,2,Karachi,Cash
2,1003,2025-01-02,503,USB Cable,Electronics,1,5,Islamabad,Debit Card
3,1004,2025-01-03,504,Coffee Mug,Home,3,6,Lahore,Credit Card
4,1005,2025-01-03,505,Laptop Stand,Electronics,1,25,Karachi,Credit Card

In [8]:
df["Total Amount"] = df["quantity"] * df['price']

In [9]:
df

,order_id,order_date,customer_id,product,category,quantity,price,city,payment_method,Total Amount
0,1001,2025-01-01,501,Wireless Mouse,Electronics,2,15,Lahore,Credit Card,30
1,1002,2025-01-02,502,Notebook,Stationery,5,2,Karachi,Cash,10
2,1003,2025-01-02,503,USB Cable,Electronics,1,5,Islamabad,Debit Card,5
3,1004,2025-01-03,504,Coffee Mug,Home,3,6,Lahore,Credit Card,18
4,1005,2025-01-03,505,Laptop Stand,Electronics,1,25,Karachi,Credit Card,25
5,1006,2025-01-04,506,Pen,Stationery,10,1,Islamabad,Cash,10
6,1007,2025-01-04,507,Notebook,Stationery,2,2,Lahore,Debit Card,4
7,1008,2025-01-05,508,Headphones,Electronics,1,30,Karachi,Credit Card,30
8,1009,2025-01-05,509,Coffee Mug,Home,1,6,Islamabad,Cash,6
9,1010,2025-01-06,510,Wireless Mouse,Electronics,1,15,Lahore,Credit Card,15

In [17]:
sum = df['Total Amount'].sum()

In [18]:
sum

np.int64(153)

In [19]:
df

,order_id,order_date,customer_id,product,category,quantity,price,city,payment_method,Total Amount,Revenue
0,1001,2025-01-01,501,Wireless Mouse,Electronics,2,15,Lahore,Credit Card,30,153
1,1002,2025-01-02,502,Notebook,Stationery,5,2,Karachi,Cash,10,153
2,1003,2025-01-02,503,USB Cable,Electronics,1,5,Islamabad,Debit Card,5,153
3,1004,2025-01-03,504,Coffee Mug,Home,3,6,Lahore,Credit Card,18,153
4,1005,2025-01-03,505,Laptop Stand,Electronics,1,25,Karachi,Credit Card,25,153
5,1006,2025-01-04,506,Pen,Stationery,10,1,Islamabad,Cash,10,153
6,1007,2025-01-04,507,Notebook,Stationery,2,2,Lahore,Debit Card,4,153
7,1008,2025-01-05,508,Headphones,Electronics,1,30,Karachi,Credit Card,30,153
8,1009,2025-01-05,509,Coffee Mug,Home,1,6,Islamabad,Cash,6,153
9,1010,2025-01-06,510,Wireless Mouse,Electronics,1,15,Lahore,Credit Card,15,153

In [23]:
df['city'].value_counts()

city
Lahore       4
Karachi      3
Islamabad    3
Name: count, dtype: int64

In [24]:
df['city']

0       Lahore
1      Karachi
2    Islamabad
3       Lahore
4      Karachi
5    Islamabad
6       Lahore
7      Karachi
8    Islamabad
9       Lahore
Name: city, dtype: object

In [25]:
df['city'].value_counts()

city
Lahore       4
Karachi      3
Islamabad    3
Name: count, dtype: int64

In [26]:
df.groupby('category')['Total Amount'].sum()

category
Electronics    105
Home            24
Stationery      24
Name: Total Amount, dtype: int64

In [28]:
df.groupby('product')['quantity'].max().sort_values(ascending=False)

product
Pen               10
Notebook           5
Coffee Mug         3
Wireless Mouse     2
Headphones         1
Laptop Stand       1
USB Cable          1
Name: quantity, dtype: int64

In [29]:
df

,order_id,order_date,customer_id,product,category,quantity,price,city,payment_method,Total Amount,Revenue
0,1001,2025-01-01,501,Wireless Mouse,Electronics,2,15,Lahore,Credit Card,30,153
1,1002,2025-01-02,502,Notebook,Stationery,5,2,Karachi,Cash,10,153
2,1003,2025-01-02,503,USB Cable,Electronics,1,5,Islamabad,Debit Card,5,153
3,1004,2025-01-03,504,Coffee Mug,Home,3,6,Lahore,Credit Card,18,153
4,1005,2025-01-03,505,Laptop Stand,Electronics,1,25,Karachi,Credit Card,25,153
5,1006,2025-01-04,506,Pen,Stationery,10,1,Islamabad,Cash,10,153
6,1007,2025-01-04,507,Notebook,Stationery,2,2,Lahore,Debit Card,4,153
7,1008,2025-01-05,508,Headphones,Electronics,1,30,Karachi,Credit Card,30,153
8,1009,2025-01-05,509,Coffee Mug,Home,1,6,Islamabad,Cash,6,153
9,1010,2025-01-06,510,Wireless Mouse,Electronics,1,15,Lahore,Credit Card,15,153

In [33]:
df.dropna('Revenue')

TypeError: DataFrame.dropna() takes 1 positional argument but 2 were given

In [34]:
df['payment_method'].value_counts()

payment_method
Credit Card    5
Cash           3
Debit Card     2
Name: count, dtype: int64

In [36]:
df.groupby('city')['Total Amount'].sum()

city
Islamabad    21
Karachi      65
Lahore       67
Name: Total Amount, dtype: int64

In [37]:
df.groupby('city')['Total Amount'].sum().sort_values(ascending = False)

city
Lahore       67
Karachi      65
Islamabad    21
Name: Total Amount, dtype: int64

In [38]:
df

,order_id,order_date,customer_id,product,category,quantity,price,city,payment_method,Total Amount,Revenue
0,1001,2025-01-01,501,Wireless Mouse,Electronics,2,15,Lahore,Credit Card,30,153
1,1002,2025-01-02,502,Notebook,Stationery,5,2,Karachi,Cash,10,153
2,1003,2025-01-02,503,USB Cable,Electronics,1,5,Islamabad,Debit Card,5,153
3,1004,2025-01-03,504,Coffee Mug,Home,3,6,Lahore,Credit Card,18,153
4,1005,2025-01-03,505,Laptop Stand,Electronics,1,25,Karachi,Credit Card,25,153
5,1006,2025-01-04,506,Pen,Stationery,10,1,Islamabad,Cash,10,153
6,1007,2025-01-04,507,Notebook,Stationery,2,2,Lahore,Debit Card,4,153
7,1008,2025-01-05,508,Headphones,Electronics,1,30,Karachi,Credit Card,30,153
8,1009,2025-01-05,509,Coffee Mug,Home,1,6,Islamabad,Cash,6,153
9,1010,2025-01-06,510,Wireless Mouse,Electronics,1,15,Lahore,Credit Card,15,153

In [41]:
df['order_date'] = pd.to_datetime(df['order_date'])

In [43]:
df['order_date']

0   2025-01-01
1   2025-01-02
2   2025-01-02
3   2025-01-03
4   2025-01-03
5   2025-01-04
6   2025-01-04
7   2025-01-05
8   2025-01-05
9   2025-01-06
Name: order_date, dtype: datetime64[ns]

In [46]:
df.groupby("order_date")["Total Amount"].sum()

order_date
2025-01-01    30
2025-01-02    15
2025-01-03    43
2025-01-04    14
2025-01-05    36
2025-01-06    15
Name: Total Amount, dtype: int64

In [48]:
df.groupby("customer_id")["Total Amount"].sum()

customer_id
501    30
502    10
503     5
504    18
505    25
506    10
507     4
508    30
509     6
510    15
Name: Total Amount, dtype: int64

In [49]:
df

,order_id,order_date,customer_id,product,category,quantity,price,city,payment_method,Total Amount,Revenue
0,1001,2025-01-01,501,Wireless Mouse,Electronics,2,15,Lahore,Credit Card,30,153
1,1002,2025-01-02,502,Notebook,Stationery,5,2,Karachi,Cash,10,153
2,1003,2025-01-02,503,USB Cable,Electronics,1,5,Islamabad,Debit Card,5,153
3,1004,2025-01-03,504,Coffee Mug,Home,3,6,Lahore,Credit Card,18,153
4,1005,2025-01-03,505,Laptop Stand,Electronics,1,25,Karachi,Credit Card,25,153
5,1006,2025-01-04,506,Pen,Stationery,10,1,Islamabad,Cash,10,153
6,1007,2025-01-04,507,Notebook,Stationery,2,2,Lahore,Debit Card,4,153
7,1008,2025-01-05,508,Headphones,Electronics,1,30,Karachi,Credit Card,30,153
8,1009,2025-01-05,509,Coffee Mug,Home,1,6,Islamabad,Cash,6,153
9,1010,2025-01-06,510,Wireless Mouse,Electronics,1,15,Lahore,Credit Card,15,153

In [50]:
df["customer_id"].value_counts()

customer_id
501    1
502    1
503    1
504    1
505    1
506    1
507    1
508    1
509    1
510    1
Name: count, dtype: int64

In [55]:
df['customer_id'].duplicated().isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: customer_id, dtype: bool

In [56]:
df

,order_id,order_date,customer_id,product,category,quantity,price,city,payment_method,Total Amount,Revenue
0,1001,2025-01-01,501,Wireless Mouse,Electronics,2,15,Lahore,Credit Card,30,153
1,1002,2025-01-02,502,Notebook,Stationery,5,2,Karachi,Cash,10,153
2,1003,2025-01-02,503,USB Cable,Electronics,1,5,Islamabad,Debit Card,5,153
3,1004,2025-01-03,504,Coffee Mug,Home,3,6,Lahore,Credit Card,18,153
4,1005,2025-01-03,505,Laptop Stand,Electronics,1,25,Karachi,Credit Card,25,153
5,1006,2025-01-04,506,Pen,Stationery,10,1,Islamabad,Cash,10,153
6,1007,2025-01-04,507,Notebook,Stationery,2,2,Lahore,Debit Card,4,153
7,1008,2025-01-05,508,Headphones,Electronics,1,30,Karachi,Credit Card,30,153
8,1009,2025-01-05,509,Coffee Mug,Home,1,6,Islamabad,Cash,6,153
9,1010,2025-01-06,510,Wireless Mouse,Electronics,1,15,Lahore,Credit Card,15,153

In [57]:
df.to_csv('clean_sales_data.csv', index=False)

In [58]:
df.drop(columns = ['Revenue'])

,order_id,order_date,customer_id,product,category,quantity,price,city,payment_method,Total Amount
0,1001,2025-01-01,501,Wireless Mouse,Electronics,2,15,Lahore,Credit Card,30
1,1002,2025-01-02,502,Notebook,Stationery,5,2,Karachi,Cash,10
2,1003,2025-01-02,503,USB Cable,Electronics,1,5,Islamabad,Debit Card,5
3,1004,2025-01-03,504,Coffee Mug,Home,3,6,Lahore,Credit Card,18
4,1005,2025-01-03,505,Laptop Stand,Electronics,1,25,Karachi,Credit Card,25
5,1006,2025-01-04,506,Pen,Stationery,10,1,Islamabad,Cash,10
6,1007,2025-01-04,507,Notebook,Stationery,2,2,Lahore,Debit Card,4
7,1008,2025-01-05,508,Headphones,Electronics,1,30,Karachi,Credit Card,30
8,1009,2025-01-05,509,Coffee Mug,Home,1,6,Islamabad,Cash,6
9,1010,2025-01-06,510,Wireless Mouse,Electronics,1,15,Lahore,Credit Card,15